@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.logo {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px; 
}

li, a {
    font-size: 15px;
    text-decoration: none !important;
    color: #ffffff !important;
}

.nav-links {
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    font-size: 17px;
    color: rgb(184, 184, 184);
    transition: all 0.3s ease 0s;
}
