/* .Project-Card {
    margin: 2rem;
    padding: 2rem 2rem 2rem 4rem;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */

.Project-Slider {
    width: 90%;
    margin: 0 auto;
}

.slick-slide > div {
    margin: 0 10px;
}

  .slick-list {
    margin: 0 -10px;
}
/* .Project-Card img {
    width: 20rem;
} */



/* 
.Card-Description {
    margin: 15px 20px;
    color: black;
} */